body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u0 {
  position:absolute;
  left:64px;
  top:556px;
  width:256px;
  height:168px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u1 {
  position:absolute;
  left:8px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:128px;
  background:inherit;
  background-color:rgba(72, 176, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u2 {
  position:absolute;
  left:64px;
  top:64px;
  width:256px;
  height:128px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u3 {
  position:absolute;
  left:8px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:168px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u4 {
  position:absolute;
  left:64px;
  top:208px;
  width:256px;
  height:168px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u5 {
  position:absolute;
  left:8px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:148px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u6 {
  position:absolute;
  left:64px;
  top:392px;
  width:256px;
  height:148px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u7 {
  position:absolute;
  left:8px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:208px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:4px 4px 8px rgba(0, 0, 0, 0.349019607843137);
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-size:14px;
  line-height:20px;
}
#u8 {
  position:absolute;
  left:384px;
  top:208px;
  width:256px;
  height:208px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-size:14px;
  line-height:20px;
}
#u9 {
  position:absolute;
  left:8px;
  top:12px;
  width:240px;
  word-wrap:break-word;
}
